.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// .clearfix:after {
//    content: " "; Older browser do not support empty content
//    visibility: hidden;
//    display: block;
//    height: 0;
//    clear: both;
// }